@use '../../sass/general' as g;

.stage__banner {
    height: g.$stage-banner-height;
    width: calc(g.$stage-main-width - g.$stage-scroll-bar-width);
    margin-right: g.$stage-scroll-bar-width;

    @media screen and (max-width: g.$small-screen-width) {
        margin-right: 0;
        width: 100%;
    }

    &__default-text {
        user-select: none;
    }

    &__round {
        user-select: none;
    }
}