@use "../../sass/general" as g;
@use "sass:map";

$card-size: 4rem;
$card-size--small: 3.25rem;
$size-start-index: 3;
$size-end-index: 8;
$sequence-start-index: 1;
$sequence-end-index: 5;
$animation-duration: .25s;
$index-by-type: (
    "red": 1,
    "yellow": 2,
    "blue": 3,
    "purple": 4
);


@keyframes flip {
    from {
        transform: rotateY(90deg);
    }

    50% {
        transform: rotateY(90deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

@keyframes back-flip {
    from {
        transform: rotateY(0deg);
        display: block;
    }

    50% {
        transform: rotateY(-90deg);
        display: block;
    }

    51% {
        transform: rotateY(-90deg);
        visibility: hidden;
        display: none;
    }

    to {
        transform: rotateY(-90deg);
        visibility: hidden;
        display: none;
    }
}

@mixin base-card {
    height: $card-size;
    width: $card-size;
    animation-timing-function: linear;
    animation-duration: $animation-duration;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @media screen and (max-width: g.$small-screen-width) {
        height: $card-size--small;
        width: $card-size--small;
    }
}

.rt-Box.flip-card-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rt-BaseCard.flip-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--pink-5);
    animation-name: flip;
    z-index: 100;

    @include base-card;

    &.flip-card--correct {
        background-color: var(--green-5);
    }

    span {
        text-align: center;
        user-select: none;
    }

    img {
        width: 90%;
        filter: brightness(.3);
        user-select: none;
    }

    .prop-text {
        font-size: 1rem;
        color: rgba(0, 0, 0, .7);
        white-space: pre-wrap;

        &.armor-text {
            font-size: .8rem;
        }

        &.position-text {
            font-size: .8rem;
            font-weight: bold;
        }

        @media screen and (max-width: g.$small-screen-width) {

            &.damage-text,
            &.armor-text {
                font-size: .75rem;
            }

            &.position-text {
                font-size: .6rem;
            }
        }
    }

    @for $i from $sequence-start-index through $sequence-end-index {
        &.flip-card--s-#{$i} {
            animation-delay: calc($animation-duration * ($i - 1));
        }
    }

    // @for $i from $size-start-index through $size-end-index {
    //     &.flip-card--w#{$i} {
    //         width: #{$i}rem;
    //     }
    // }

    // @each $color in map.keys($index-by-type) {
    //     &.flip-card--t-#{$color}>.type-dots>span:nth-child(#{map.get($index-by-type, $color)}) {
    //         background-color: var(--gray-8);
    //     }
    // }

    // .type-dots {
    //     display: flex;
    //     position: absolute;
    //     flex-direction: row;
    //     justify-content: center;
    //     align-items: center;
    //     width: 100%;
    //     bottom: .33rem;
    //     left: 0;
    //     span {
    //         $dot-size: .25rem;
    //         display: inline-block;
    //         position: relative;
    //         height: $dot-size;
    //         width: $dot-size;
    //         margin: 0 3px;
    //         border-radius: 50%;
    //         background-color: white;
    //         outline: 1px solid var(--gray-8);
    //     }
    // }
}

.rt-BaseCard.flip-card-back {
    position: absolute;
    background-color: white;
    animation-name: back-flip;
    z-index: 200;

    @include base-card;

    @for $i from $sequence-start-index through $sequence-end-index {
        &.flip-card-back--s-#{$i} {
            animation-delay: calc($animation-duration * ($i - 1));
        }
    }

    // @for $i from $size-start-index through $size-end-index {
    //     &.flip-card-back--w#{$i} {
    //         width: #{$i}rem;
    //     }
    // }
}