@use "sass:map";

$size-start-index: 3;
$size-end-index: 8;
$sequence-start-index: 1;
$sequence-end-index: 5;
$animation-duration: .25s;
$index-by-type: (
    "red": 1,
    "yellow": 2,
    "blue": 3,
    "purple": 4
);


@keyframes flip {
    from {
        transform: rotateY(90deg);
    }

    50% {
        transform: rotateY(90deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

@keyframes back-flip {
    from {
        transform: rotateY(0deg);
        visibility: visible;
    }

    50% {
        transform: rotateY(-90deg);
        visibility: visible;
    }

    51% {
        transform: rotateY(-90deg);
        visibility: hidden;
    }

    to {
        transform: rotateY(-90deg);
        visibility: hidden;
    }
}

.rt-Box.flip-card-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rt-BaseCard.flip-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: var(--pink-5);
    animation-name: flip;
    animation-timing-function: linear;
    animation-duration: $animation-duration;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 100;

    &.flip-card--correct {
        background-color: var(--green-5);
    }

    span {
        text-align: center;
        user-select: none;
    }

    img {
        width: 80%;
        filter: brightness(.3);
        user-select: none;
    }

    .type-dots {
        display: flex;
        position: absolute;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        bottom: .33rem;
        left: 0;

        span {
            $dot-size: .25rem;

            display: inline-block;
            position: relative;
            height: $dot-size;
            width: $dot-size;
            margin: 0 3px;
            border-radius: 50%;
            background-color: white;
            outline: 1px solid var(--gray-8);
        }
    }

    @for $i from $size-start-index through $size-end-index {
        &.flip-card--w#{$i} {
            width: #{$i}rem;
        }
    }

    @for $i from $sequence-start-index through $sequence-end-index {
        &.flip-card--s#{$i} {
            animation-delay: calc($animation-duration * ($i - 1));
        }
    }

    @each $color in map.keys($index-by-type) {
        &.flip-card--#{$color}>.type-dots>span:nth-child(#{map.get($index-by-type, $color)}) {
            background-color: var(--gray-8);
        }
    }
}

.rt-BaseCard.flip-card-back {
    position: absolute;
    height: 4rem;
    background-color: white;
    visibility: visible;
    animation-name: back-flip;
    animation-timing-function: linear;
    animation-duration: $animation-duration;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 200;

    @for $i from $size-start-index through $size-end-index {
        &.flip-card-back--w#{$i} {
            width: #{$i}rem;
        }
    }

    @for $i from $sequence-start-index through $sequence-end-index {
        &.flip-card-back--s#{$i} {
            animation-delay: calc($animation-duration * ($i - 1));
        }
    }
}