@use './general' as g;

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.variant-name {
  display: inline-block;
  background-color: g.$blue-color;
  margin-left: .25rem;
  padding: 0 .25rem;
  border-radius: .25rem;
}