@use './general' as g;


#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: auto;

  @media screen and (max-width: g.$small-screen-width) {
    overflow-x: hidden;
  }
}

.variant-name {
  display: inline-block;
  background-color: var(--blue-4);
  margin-left: .25rem;
  padding: 0 .25rem;
  border-radius: .25rem;
}