:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
}

.radix-themes {
  height: 100%;
  width: 100%;
}