@use "../../sass/general" as g;

$transition-duration: 0.2s;
$margin-bottom: .125rem;

.rt-ScrollAreaRoot.search-student-list {
    height: calc(100% - g.$right-aside-search-bar-height - $margin-bottom);
    width: 100%;
}

.search-student-list__item {
    margin: 0 1rem $margin-bottom 0;
    transition: background-color $transition-duration;

    &__select-btn.rt-BaseButton {
        opacity: 0;
        transition: opacity $transition-duration;

        @media screen and (max-width: g.$small-screen-width) {
            opacity: 1;
        }
    }

    &__name {
        user-select: none;
    }

    &:hover {
        background-color: var(--gray-4);

        .search-student-list__item__select-btn.rt-BaseButton {
            opacity: 1;
        }
    }

    @media screen and (max-width: g.$small-screen-width) {
        font-size: .75rem;
    }
}