@use '../../sass/general' as g;

.rt-Container.stage {
    padding: g.$container-padding;

    @media screen and (max-width: g.$small-screen-width) {
        height: 100dvh;
        width: 100dvw;
    }
}